body {
    background: #111;
    color: #0f0;
    font-family: Consolas, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    background: #000;
    border: 1px solid #0f0;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #0f0;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

pre {
    background: #000;
    color: #0f0;
    padding: 10px;
    margin-top: 15px;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #0f0;
    border-radius: 5px;
}
